<!-- header -->
<nav class="navbar navbar-light bg-light fixed-top shadow p-3 mb-5 bg-body rounded">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">
      <img src="https://th.bing.com/th/id/R.2f8304a0b1fcf5b6bb555abb50873ebd?rik=T3F5qUEEgLvwvQ&riu=http%3a%2f%2flh3.googleusercontent.com%2fjaRmzw0KIu5PYracuSpsDHJUNJ0Z6u0lQ7k4E4OniuPv6ZXhlLG35bTYBXaMLKZ4%3dw300&ehk=Ofkk8x2lFv7raLnmxw1JUT4g8w%2fI0vOtBGsz%2fACmlwY%3d&risl=&pid=ImgRaw&r=0" alt="" width="30" height="24" class="d-inline-block align-text-top">
      FileExplorer
    </a>
  </div>
</nav>
<div class="container">
  <div class="card text-center" style="padding: 25px; margin: auto;">
    <span>Bienvenue sur l'application FileExplorer. Cette application web dévloppée en Angular est un gestionnaire de fichier classique.</span>
    <br/>
    <a class="btn btn-secondary" routerLink="/explore">Continuer</a>
  </div>
</div>
<!-- footer -->
<nav class="navbar fixed-bottom bg-light shadow">
  <div class="container-fluid d-flex justify-content-center">
    <div class="text-center fw-bolder">&copy; 2022 ~ Mister Bil</div>
  </div>
</nav>
